In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv("data/dataSertifikasiHalal.csv", index_col=0)
df

,conversation_id_str,created_at,favorite_count,full_text,id_str,image_url,in_reply_to_screen_name,lang,location,quote_count,reply_count,retweet_count,tweet_url,user_id_str,username
0,2002060854821597363,Fri Dec 19 16:57:58 +0000 2025,4,Ditarik karna blm lolos BPOM menurut sertifika...,2002060854821597363,NaN,NaN,in,NaN,0,1,0,https://x.com/undefined/status/200206085482159...,1415607744866910212,NaN
1,1998687534310957226,Wed Dec 10 09:33:36 +0000 2025,0,GUYSSSS... untuk kalian yang punya usaha makan...,1998687534310957226,NaN,NaN,in,NaN,0,1,0,https://x.com/undefined/status/199868753431095...,1395841725449392130,NaN
2,1998391292091666513,Tue Dec 09 13:56:27 +0000 2025,0,UMKM WAJIB TAHU: Batas Sertifikasi Halal Kian ...,1998391292091666513,https://pbs.twimg.com/media/G7u2SfXakAA9KHK.jpg,NaN,in,NaN,0,1,0,https://x.com/undefined/status/199839129209166...,1988614384093171712,NaN
3,1997510408496914646,Sun Dec 07 03:36:07 +0000 2025,13,minimal lu taulah audience indo kek gimana soa...,1997510408496914646,NaN,NaN,in,NaN,0,0,0,https://x.com/undefined/status/199751040849691...,1555035093260832768,NaN
4,1996518859042628067,Thu Dec 04 10:05:58 +0000 2025,0,@Sentjoko @ChatGPTapp Jepang secara aktif memp...,1996521351449026835,NaN,Sentjoko,in,NaN,0,1,0,https://x.com/undefined/status/199652135144902...,1720665183188922368,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4586,1983421146164015219,Wed Oct 29 06:30:26 +0000 2025,0,#BPJPHDukungUMKM dgn dorong umkm yogya percepa...,1983421146164015219,https://pbs.twimg.com/media/G4aHAyeasAEs7V7.jpg,NaN,in,NaN,0,0,0,https://x.com/undefined/status/198342114616401...,1595376089903218689,NaN
4587,1983421095190638831,Wed Oct 29 06:30:13 +0000 2025,0,bpjph gencarkan sertifikasi halal gratis untuk...,1983421095190638831,https://pbs.twimg.com/media/G4aG-YwaoAEyksN.jpg,NaN,in,NaN,0,0,0,https://x.com/undefined/status/198342109519063...,1599977603766489088,NaN
4588,1983421039175782489,Wed Oct 29 06:30:00 +0000 2025,1,BPJPH hadir sebagai sahabat UMKM. Lewat bimbin...,1983421039175782489,https://pbs.twimg.com/media/G4aG6uFasAMAgaM.jpg,NaN,in,NaN,0,0,0,https://x.com/undefined/status/198342103917578...,1743187080858251264,NaN
4589,1983421030891974822,Wed Oct 29 06:29:58 +0000 2025,0,transformasi umkm menuju industri halal dunia ...,1983421030891974822,https://pbs.twimg.com/media/G4aG5URasAI4psY.jpg,NaN,in,NaN,0,0,0,https://x.com/undefined/status/198342103089197...,1596901130134441984,NaN
4590,1983420942991970772,Wed Oct 29 06:29:37 +0000 2025,0,BPJPH berkomitmen membantu pelaku UMKM mendapa...,1983420942991970772,https://pbs.twimg.com/media/G4aG09oaoAEjzOJ.jpg,NaN,in,NaN,0,0,0,https://x.com/undefined/status/198342094299197...,1420984565162680322,NaN

In [3]:
df = df[['username', 'full_text', 'tweet_url']]

In [4]:
df

,username,full_text,tweet_url
0,NaN,Ditarik karna blm lolos BPOM menurut sertifika...,https://x.com/undefined/status/200206085482159...
1,NaN,GUYSSSS... untuk kalian yang punya usaha makan...,https://x.com/undefined/status/199868753431095...
2,NaN,UMKM WAJIB TAHU: Batas Sertifikasi Halal Kian ...,https://x.com/undefined/status/199839129209166...
3,NaN,minimal lu taulah audience indo kek gimana soa...,https://x.com/undefined/status/199751040849691...
4,NaN,@Sentjoko @ChatGPTapp Jepang secara aktif memp...,https://x.com/undefined/status/199652135144902...
...,...,...,...
4586,NaN,#BPJPHDukungUMKM dgn dorong umkm yogya percepa...,https://x.com/undefined/status/198342114616401...
4587,NaN,bpjph gencarkan sertifikasi halal gratis untuk...,https://x.com/undefined/status/198342109519063...
4588,NaN,BPJPH hadir sebagai sahabat UMKM. Lewat bimbin...,https://x.com/undefined/status/198342103917578...
4589,NaN,transformasi umkm menuju industri halal dunia ...,https://x.com/undefined/status/198342103089197...
4590,NaN,BPJPH berkomitmen membantu pelaku UMKM mendapa...,https://x.com/undefined/status/198342094299197...

### Menghapus nilai False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4591 entries, 0 to 4590
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   username   0 non-null      float64
 1   full_text  4591 non-null   object
 2   tweet_url  4591 non-null   object
dtypes: float64(1), object(2)
memory usage: 143.5+ KB

In [6]:
# Metode 1: Menggunakan drop
df['full_text'] = df['full_text'].astype(str).str.lower()  # Mengubah teks menjadi lowercase
df['full_text'] = df['full_text'].replace('false', pd.NA)  # Mengganti 'false' dengan pd.NA (Not Available)
df = df.dropna(subset=['full_text'])

# Metode 2: Menggunakan boolean indexing
df['full_text'] = df['full_text'].astype(str).str.lower()  # Mengubah teks menjadi lowercase
df = df[df['full_text'] != 'false']

C:\Users\muham\AppData\Local\Temp\ipykernel_9268\3467044766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_text'] = df['full_text'].astype(str).str.lower()  # Mengubah teks menjadi lowercase
C:\Users\muham\AppData\Local\Temp\ipykernel_9268\3467044766.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['full_text'] = df['full_text'].replace('false', pd.NA)  # Mengganti 'false' dengan pd.NA (Not Available)

In [7]:
df.shape

(4591, 3)

In [8]:
df = df.drop_duplicates(subset=['full_text'])

In [9]:
df.duplicated().sum()

0

In [10]:
df = df.dropna(subset=['full_text'])

In [11]:
df.isnull().sum()

username     4411
full_text       0
tweet_url       0
dtype: int64

In [12]:
df.shape

(4411, 3)

In [13]:
def clean_twitter_text(text):
  text = re.sub(r'@[A-Za-z0-9_]+', '', text)
  text = re.sub(r'#\w+', '', text)
  text = re.sub(r'RT[\s]+', '', text)
  text = re.sub(r'https?://\S+', '', text)

  text = re.sub(r'[^A-Za-z0-9 ]', '', text)
  text = re.sub(r'\s+', ' ', text).strip()

  return text

df['full_text'] = df['full_text'].apply(clean_twitter_text)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4411 entries, 0 to 4590
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   username   0 non-null      float64
 1   full_text  4411 non-null   object
 2   tweet_url  4411 non-null   object
dtypes: float64(1), object(2)
memory usage: 137.8+ KB

In [15]:
df

,username,full_text,tweet_url
0,NaN,ditarik karna blm lolos bpom menurut sertifika...,https://x.com/undefined/status/200206085482159...
1,NaN,guyssss untuk kalian yang punya usaha makananm...,https://x.com/undefined/status/199868753431095...
2,NaN,umkm wajib tahu batas sertifikasi halal kian d...,https://x.com/undefined/status/199839129209166...
3,NaN,minimal lu taulah audience indo kek gimana soa...,https://x.com/undefined/status/199751040849691...
4,NaN,jepang secara aktif mempromosikan makanan hala...,https://x.com/undefined/status/199652135144902...
...,...,...,...
4586,NaN,dgn dorong umkm yogya percepat sertifikasi hal...,https://x.com/undefined/status/198342114616401...
4587,NaN,bpjph gencarkan sertifikasi halal gratis untuk...,https://x.com/undefined/status/198342109519063...
4588,NaN,bpjph hadir sebagai sahabat umkm lewat bimbing...,https://x.com/undefined/status/198342103917578...
4589,NaN,transformasi umkm menuju industri halal dunia ...,https://x.com/undefined/status/198342103089197...
4590,NaN,bpjph berkomitmen membantu pelaku umkm mendapa...,https://x.com/undefined/status/198342094299197...

In [16]:
df.to_csv("data/hasil_cleaning_dataSertifikasiHalal.csv", index=False)